
@{
    ViewBag.Title = "GeneralFAQ";
    Layout = "~/Views/Shared/_FAQLayout.cshtml";
}

<hr />


<div class="panel panel-default">
    <div class="panel-heading" style="background-color:darkblue;color:white">
        List of FAQ
     </div>
    <table class="table table-bordered table-hover dataTable" id="tblJQGrid"></table>
    <div class="clear_botm"></div>
    <div id="pager" class="scroll"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:darkblue;color:white">
        List of FAQ Documents
    </div>
    <table class="table table-bordered table-hover dataTable" id="tblJQGrid_FAQDoc"></table>
    <div class="clear_botm"></div>
    <div id="pager1" class="scroll"></div>
</div>

<a href="/LInq/MySpace" > Back </a>&nbsp;&nbsp;&nbsp;



