
@{
    ViewBag.Title = "ManageFAQ";
    Layout = "~/Views/Shared/_ManageLInqLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:darkblue;color:white">
        List of FAQ
    </div>
    <table class="table table-bordered table-hover dataTable" id="tblJQGrid"></table>
    <div class="clear_botm"></div>
    <div id="pager" class="scroll"></div>
</div>

